.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
}

.card {
  margin: 2rem 2rem 0 0;
  padding: 0.7rem;
  width: 279px;
  height: 375px;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  transition: transform .3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.1);
}

#asset-price {
  font-size: 30px;
}

/* # */

.card-image {
  display: flex;
  justify-content: flex-end;
}
.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.assets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-placeholder {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card-placeholder p {
  font-size: 12px;
  color: #6C757D;
}

.asset-information {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.asset-information p{
  font-size: 14px;
}


.right-information-block {
  display: block;
  width: auto;
}

.right-information-block img{
  margin-top: -6px
}

.right-information-block p{
  float: right;
  margin-left: 5px;
}

.modal-section {
  /* display: inline-block;
  float: right; */
  display: flex;
  justify-content: flex-start;
}

.modal-right {
  width: 100%;
  padding-left: 30px;
}

.modal-price {
  /* width: 100%;
  text-align: end; */
  display :flex;
  justify-content: space-between  ;
}

/* .modal-price p{
  font-size: 40px;
} */

.modal-price img{
  margin-bottom: 17px;
}

.asset-name {
  font-size: 30px;
}

.modal-card {
  width: 170px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 7px;
}

.modal-card img {
  border-radius: 3px;
}