.assets-container {
    display: flex;
    flex-wrap: wrap;
  }

#buypageTag {
  padding-top: 2rem;
  font-size: 24px;
}

.buy-bg{
  padding-bottom: 10px;
  min-height: 93vh;
  background-image: linear-gradient(to bottom right, #E1EEBC, #BCD9EE);
}